<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580880783847-4593v45hoq45rcfh6eusst0uaibum5l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580880783847-4593v45hoq45rcfh6eusst0uaibum5l5</string>
	<key>API_KEY</key>
	<string>AIzaSyBAWYqugVCaoPa0SZu5r20PDfllQCmw1H8</string>
	<key>GCM_SENDER_ID</key>
	<string>580880783847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sujith.campCampApp</string>
	<key>PROJECT_ID</key>
	<string>campapp-388922</string>
	<key>STORAGE_BUCKET</key>
	<string>campapp-388922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580880783847:ios:77f195868081495d818542</string>
</dict>
</plist>